<div class="top-container"> 
  <div class="top-logo">
    <%= image_tag("Eduka-logo.png", width: "220", height: "220") %>
  </div>

  <div class="eduka">
    <p>皆さんはこのような経験はありませんか？
    <br>
    <br>
    「1つの業務を教わるときに『先輩Aと先輩Bに違う方法』で教わり混乱した」<br>
    「自分以外の人がどのような指導を受けたのか『共有』できたらいいのに」<br>
    <br>
    <br>
    以前私が美容師として働いていた時に身をもって経験したことです。
    <br>
    <br>
    .Edukaは「なんとなくの教育」を『可視化し共有する』ことで、
    <br>
    <br>
    「新入社員の成長スピードが速くなる」<br>
    「社員の生産性が上がることで会社全体の売り上げが上がる」 <br>
    「教育を引き継げるようにすることで、社員一人に負担がかかりすぎない」<br>
    「教育や技術が共有されることで、会社全体の技術•仕事レベルが上がっていく」<br>
    <br>
    <br>
    といった成果を目指すアプリケーションです。</p>
  </div>
<div>
