// Place all the styles related to the educations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//index

.education-index-title {
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.15em;
  padding-bottom: 5px;
}

.education-notice{
  text-align: center;
  color: #898989;
}

.education-index-table table {
  display: flex;
  justify-content: center;
  // margin-right: 220px;
  margin-bottom: 40px;
}
.education-index-table table th {
  padding-bottom: 10px;
  font-size: 18px;
}
.education-index-table table td {
  padding-bottom: 4px;
}

.education-index-table2 table {
  display: flex;
  justify-content: center;
}
.education-index-table2 table th {
  padding-bottom: 15px;
  font-size: 20px;
}
.education-index-table2 table td {
  padding-bottom: 8px;
  padding-right: 5px;
}

.education-index-link a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

.education-index-link a:hover {
  text-decoration: underline;
}

#education-page {
  text-align: left;
}

//new & edit
.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  height: 50vh;
  padding-top: 150px;
}

.education-container h2 {
  font-size: 30px;
  letter-spacing: 0.15em;
  padding-bottom: 15px;
}



.education-username h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.education-username p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-bottom: 20px;
}

#education-form {
  width: 300px;
  height: 20px;
}

#education-area {
  width: 302px;
}

.education-block {
margin-bottom: 25px;
}

#education-create {
  margin-left: 266px;
}

#education-link {
  margin-left: 266px;
}

#education-link a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

#education-link a:hover {
  text-decoration: underline;
}