// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//index
.profile-index-container {
  text-align: center;
  height: auto;
  padding-bottom: 140px;
}

#pagenate {
  position: fixed;
	bottom: 0;
  margin-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  letter-spacing: 0.2em;
}

#pagenate a {
  text-decoration: none;
  color: black;
}

#pagenate a:hover {
  text-decoration: underline;
  color: #6a1917;
}

.profile-index-title {
  font-size: 20px;
  letter-spacing: 0.4em;
}

.profile-notice {
  color: #898989;
}

#search-form {
  width: 200px;
  height: 25px;
  margin: 20px 0px;
}

.profile-table-container {
  display: flex;
  justify-content: center;
}

.profile-table-container tr {
  text-align: left;
}

.profile-table-container th {
  font-size: 22px;
  padding-bottom: 20px;
}

.profile-table-container td {
  padding-right: 60px;
  padding-bottom: 15px;
}

#education-path a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

#education-path a:hover {
  text-decoration: underline;
}

//show
.mypage-container {
  text-align: center;
  height: auto;
  padding-bottom: 50px;
}

.mypage-container h2 {
  font-size: 20px;
  letter-spacing: 0.4em;
  padding-bottom: 20px;
}

.mypage-table-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.mypage-table-container tr {
  text-align: left;
}

.mypage-table-container th {
  padding-bottom: 5px;
}

.mypage-table-container td {
  padding-right: 30px;
  padding-bottom: 4px;
}

.relationship-container {
  text-align: left;
  display: inline-block;
  overflow: auto;
  height: 70vh;
}

.subordinate {
  margin-bottom: 45px;
}

.subordinate-name {
  margin-bottom: 20px;
}

.subordinate-submit {
  margin-bottom: 20px;
  margin-left: 131px;
}

.subordinate p a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

.subordinate p a:hover {
  text-decoration: underline;
}

#subordinate-form {
  width: 200px;
  height: 25px;
}

#edit-profile a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

#edit-profile a:hover {
  text-decoration: underline;
}