// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-index-container {
  text-align: center;
}

.profile-index-title {
  font-size: 20px;
  letter-spacing: 0.15em;
}

.profile-index-notice {
  color: #898989;
}

#search-form {
  width: 200px;
  height: 25px;
  margin: 20px 0px;
}

.profile-table-container {
  display: flex;
  justify-content: center;
}

.profile-table-container tr {
  text-align: left;
}

.profile-table-container th {
  font-size: 22px;
  padding-bottom: 20px;
}

.profile-table-container td {
  padding-right: 60px;
  padding-bottom: 4px;
}

#education-path a {
  color: #6a1917;
  text-decoration: none;
}

#education-path a:hover {
  text-decoration: underline;
}