// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//new & edit

.subject-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  height: auto;
  padding-bottom: 50px;
}

.subject-form-title {
  font-size: 20px;
  letter-spacing: 0.15em;
  padding-bottom: 15px;
}

.subject-username h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding-bottom: 20px;
}

.subject-username p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-bottom: 30px;
}

.subject-educationname h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding-bottom: 20px;
}

.subject-educationname p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-bottom: 30px;
}

.subject-block {
  margin-bottom: 35px;
  width: 300px;
  }

.subject-block h4 {
  margin: 0;
  padding: 0;
  }

#subject-form {
  width: 300px;
  height: 20px;
  }

#subject-submit {
  text-align: right;
}

#subject-link {
  text-align: right;
  margin: 0;
  padding: 0;
}

#subject-link a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

#subject-link a:hover {
  text-decoration: underline;
}

#deadline {
  padding-bottom: 20px;
}

#subject-name {
  font-size: 18px;
}

//show

.subject-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  height: auto;
  padding-bottom: 50px;
}

.subject-show-title {
  font-size: 17px;
  letter-spacing: 0.15em;
  padding-bottom: 15px;
}

.subject-notice {
  color: #898989;
  padding-bottom: 20px;
}

.subject-show-table {
  text-align: left;
  width: auto;
  // margin-left: 500px;
  margin-bottom: 30px;
}

.subject-show-table th {
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.subject-show-table th a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

.subject-show-table th a:hover{
  text-decoration: underline;
}

.subject-show-table td {
  padding-right: 20px;
  padding-bottom: 15px;
}

.subject-show-table td a {
  color: #6a1917;
  text-decoration: none;
  background-color: #e5d7d7;
}

.subject-show-table td a:hover {
  text-decoration: underline;
}